---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
 <li><strong>POSTIT: Multi-task learning to infer transcript isoform regulation from epi-genomics and transcriptomics data</strong><br/>
<b>Azim Dehghani Amirabad</b>, Marcel H. Schulz<br/>
<a href="http://recomb2018.fr/ccb-satellite/"> Recomb-CCB 2018 </a>
<li><strong>Why asking for miRNA-gene interactions is wrong: A new paradigm for miRNA target prediction with expression data</strong> <br/>
<b> Azim Dehghani Amirabad </b>,  Marcel H. Schulz <br />

<i> Presented at</i>
<a href="http://irbgroup.org/irb-sig-16/">ISMB-SIG 2016 </a> <i> @ </i>

<a href="http://www.markowetzlab.org/UAI2016/"> UAI 2016 Workshop on Machine Learning for Health</a>  <br /><br />
</li>

<li><strong> Multitask regression for context-specific prioritization of miRNA targets in transcripts</strong> <br/>
 <b>Azim Dehghani Amirabad </b>, Marcel H. Schulz <br />

<i>Presented at German Conference for Biofinformatics 2016 and Recomb-CCB 2016 </i>

<a href="https://peerj.com/preprints/2377/"> ( full text) </a> <br /><br />


         <h2> Posters</h2>

<li><strong>POSTIT: Multi-task learning to infer transcript isoform regulation from epi-genomics and transcriptomics data</strong><br/>
<b>Azim Dehghani Amirabad</b>, Marcel H. Schulz<br/>
<a href="https://recomb2018.fr"> Recomb 2018 </a>
<li><strong> Inferring Gene Regulatory Programs with Mixtures of Sparse Multi-Task Regression Models</strong><br/>
Tobias Heinen, <b>Azim Dehghani Amirabad</b>, Florian Schmidt,  Marcel H. Schulz<br/>
<a href="https://recomb2018.fr"> Recomb 2018 </a>

<li><strong>Gene structure aware method for miRNA target prediction reveals two prevalent genome-wide mechanisms for miRNA action</strong> <br/>
<b>Azim Dehghani Amirabad</b>, Marcel H. Schulz<br />

<i>The Non-Coding Genome 2015, EMBL  Heidelberg, Germany.</i><br />
</li>

<li><strong>On the power of RNA-seq for predicting miRNA-transcript interactions</strong> <br/>
<b>Azim Dehghani Amirabad</b>, Marcel H. Schulz<br />

<i>ISMB/ECCB 2015, Dublin, Ireland.</i><br />


<li><strong> Exploiting RNA-Seq data to the fullest: Models for miRNA-transcript target interactions</strong> <br/>
 <b>Azim Dehghani Amirabad</b>, Marcel H. Schulz<br />

<i>ECCB, Strasbourg, France, 2014</i><br />
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
