---
layout: archive
permalink: /year-archive/
title: " "
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

 <br/><img src='/images/MyResearch.png'> -->


<h1>Summary</h1>
<p>The cell is a highly mysterious intelligent machine that fascinates my imagination and arouses my curiosity. My
research revolves around development and application of principled machine learning methods for interpreting
complex biological data sets. I love to design novel machine learning algorithms, especially when they allow the
analysis of data in ways that have not yet been possible. I am interested in working on fundamental biological
problems that would have an impact on our understanding of human cells and disease mechanisms. An ongoing theme in my research is the integration of single cell multi-omics data sets to understand underlying biological processes that contribute to a specific phenotype. </p>


<h1>Single cell genomics</h1>

<p>Single-cell multi-omics data provides us an opportunity to understand biological processes at the fundamental
level. These technologies drive new discoveries and are rapidly advancing, which calls for the constant design
and improvement of computational methods for integration, interpretation, and analysis. I
develop new methods for single cell data analysis using a combination of rigorous statistical approaches. These
methods are necessary to cope with the inherent noise of these technologies and to focus on computationally
efficient design and implementation such that resulting method can handle thousands of single cell omics data.</p>

<!-- <br/><img src='/images/Transcript.png'> -->




<h1>Computational Epigenomics</h1>
<p>I would like to continue my work on understanding the system perspective of transcriptional and post-transcriptional gene regulation, answering questions like: What are the rules of enhancer gene targeting? How do structural variations in enhancers effect target gene regulation? Which epigenetic signatures contribute to establishing cell
identity? Which regulatory interactions are involved in changing cell identity?</p>


{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
